<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.xhb.volunteerplatform.mapper.ActivityMapper" >
  <resultMap id="BaseResultMap" type="cn.xhb.volunteerplatform.entity.Activity" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="area" property="area" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="recruit_begin_time" property="recruitBeginTime" jdbcType="TIMESTAMP" />
    <result column="recruit_end_time" property="recruitEndTime" jdbcType="TIMESTAMP" />
    <result column="activity_begin_time" property="activityBeginTime" jdbcType="TIMESTAMP" />
    <result column="activity_end_time" property="activityEndTime" jdbcType="TIMESTAMP" />
    <result column="recruit_number" property="recruitNumber" jdbcType="INTEGER" />
    <result column="working_hours" property="workingHours" jdbcType="REAL" />
    <result column="detail_address" property="detailAddress" jdbcType="VARCHAR" />
    <result column="recruit_range" property="recruitRange" jdbcType="INTEGER" />
    <result column="worker_id" property="workerId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="delete_time" property="deleteTime" jdbcType="TIMESTAMP" />
    <result column="has_deleted" property="hasDeleted" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="ban_status" property="banStatus" jdbcType="TIMESTAMP" />
    <result column="picInfo" property="picInfo" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="cn.xhb.volunteerplatform.entity.Activity" extends="BaseResultMap" >
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, province, city, area, name, recruit_begin_time, recruit_end_time, activity_begin_time, activity_end_time,
    recruit_number, working_hours, detail_address, recruit_range, worker_id, create_time, 
    delete_time, has_deleted, update_time, ban_status, picInfo
  </sql>
  <sql id="Blob_Column_List" >
    content
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from activity
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from activity
  </select>
  <select id="selectNotDeleted" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from activity
    where has_deleted = 0 and ban_status = 0
  </select>

  <select id="selectNotDeletedByWorkerId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from activity
    where worker_id = #{workerId,jdbcType=INTEGER} and has_deleted = 0
  </select>

  <select id="selectNotDeletedBySearch" resultMap="BaseResultMap" parameterType="cn.xhb.volunteerplatform.dto.ActivitySearchQuery">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from activity
    where
    <if test="activitySearchQuery.province != null" >
      province = #{activitySearchQuery.province} and
    </if>

    <if test="activitySearchQuery.city != null" >
      city = #{activitySearchQuery.city} and
    </if>

    <if test="activitySearchQuery.area != null" >
      area = #{activitySearchQuery.area} and
    </if>
    <if test="activitySearchQuery.activityName != null" >
      name like "%"#{activitySearchQuery.activityName}"%" and
    </if>
    has_deleted = 0 and ban_status = 0
  </select>

  <select id="countByYear" resultType="java.lang.Integer"  parameterType="java.lang.Integer" >
    select count(*)
    from activity
    where YEAR(create_time) &lt;= #{year,jdbcType=INTEGER} and has_deleted = 0
  </select>






  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from activity
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.xhb.volunteerplatform.entity.Activity" >
    insert into activity (id, province, city, area, name,
      recruit_begin_time, recruit_end_time, activity_begin_time, 
      activity_end_time, recruit_number, working_hours, 
      detail_address, recruit_range, worker_id, 
      create_time, delete_time, has_deleted, 
      update_time, content, ban_status, picInfo)
    values (#{id,jdbcType=INTEGER}, #{province,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, #{area,jdbcType=VARCHAR},#{name,jdbcType=VARCHAR},
      #{recruitBeginTime,jdbcType=TIMESTAMP}, #{recruitEndTime,jdbcType=TIMESTAMP}, #{activityBeginTime,jdbcType=TIMESTAMP}, 
      #{activityEndTime,jdbcType=TIMESTAMP}, #{recruitNumber,jdbcType=INTEGER}, #{workingHours,jdbcType=REAL}, 
      #{detailAddress,jdbcType=VARCHAR}, #{recruitRange,jdbcType=INTEGER}, #{workerId,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{deleteTime,jdbcType=TIMESTAMP}, #{hasDeleted,jdbcType=INTEGER}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{content,jdbcType=LONGVARCHAR},#{banStatus,jdbcType=INTEGER}, #{picInfo,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.xhb.volunteerplatform.entity.Activity" >
    insert into activity
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="area != null" >
        area,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="recruitBeginTime != null" >
        recruit_begin_time,
      </if>
      <if test="recruitEndTime != null" >
        recruit_end_time,
      </if>
      <if test="activityBeginTime != null" >
        activity_begin_time,
      </if>
      <if test="activityEndTime != null" >
        activity_end_time,
      </if>
      <if test="recruitNumber != null" >
        recruit_number,
      </if>
      <if test="workingHours != null" >
        working_hours,
      </if>
      <if test="detailAddress != null" >
        detail_address,
      </if>
      <if test="recruitRange != null" >
        recruit_range,
      </if>
      <if test="workerId != null" >
        worker_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="deleteTime != null" >
        delete_time,
      </if>
      <if test="hasDeleted != null" >
        has_deleted,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="banStatus != null">
        ban_status,
      </if>
      <if test="picInfo != null" >
        picInfo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="province != null" >
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="area != null" >
        #{area,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="recruitBeginTime != null" >
        #{recruitBeginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="recruitEndTime != null" >
        #{recruitEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="activityBeginTime != null" >
        #{activityBeginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="activityEndTime != null" >
        #{activityEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="recruitNumber != null" >
        #{recruitNumber,jdbcType=INTEGER},
      </if>
      <if test="workingHours != null" >
        #{workingHours,jdbcType=REAL},
      </if>
      <if test="detailAddress != null" >
        #{detailAddress,jdbcType=VARCHAR},
      </if>
      <if test="recruitRange != null" >
        #{recruitRange,jdbcType=INTEGER},
      </if>
      <if test="workerId != null" >
        #{workerId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteTime != null" >
        #{deleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="hasDeleted != null" >
        #{hasDeleted,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="banStatus != null">
        #{banStatus,jdbcType=INTEGER},
      </if>
      <if test="picInfo != null" >
        #{picInfo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.xhb.volunteerplatform.entity.Activity" >
    update activity
    <set >
      <if test="province != null" >
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="area != null" >
        area = #{area,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="recruitBeginTime != null" >
        recruit_begin_time = #{recruitBeginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="recruitEndTime != null" >
        recruit_end_time = #{recruitEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="activityBeginTime != null" >
        activity_begin_time = #{activityBeginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="activityEndTime != null" >
        activity_end_time = #{activityEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="recruitNumber != null" >
        recruit_number = #{recruitNumber,jdbcType=INTEGER},
      </if>
      <if test="workingHours != null" >
        working_hours = #{workingHours,jdbcType=REAL},
      </if>
      <if test="detailAddress != null" >
        detail_address = #{detailAddress,jdbcType=VARCHAR},
      </if>
      <if test="recruitRange != null" >
        recruit_range = #{recruitRange,jdbcType=INTEGER},
      </if>
      <if test="workerId != null" >
        worker_id = #{workerId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteTime != null" >
        delete_time = #{deleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="hasDeleted != null" >
        has_deleted = #{hasDeleted,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="banStatus != null">
        ban_status = #{banStatus,jdbcType=INTEGER},
      </if>
      <if test="picInfo != null" >
        picInfo = #{picInfo,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="cn.xhb.volunteerplatform.entity.Activity" >
    update activity
    set province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      area = #{area,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      recruit_begin_time = #{recruitBeginTime,jdbcType=TIMESTAMP},
      recruit_end_time = #{recruitEndTime,jdbcType=TIMESTAMP},
      activity_begin_time = #{activityBeginTime,jdbcType=TIMESTAMP},
      activity_end_time = #{activityEndTime,jdbcType=TIMESTAMP},
      recruit_number = #{recruitNumber,jdbcType=INTEGER},
      working_hours = #{workingHours,jdbcType=REAL},
      detail_address = #{detailAddress,jdbcType=VARCHAR},
      recruit_range = #{recruitRange,jdbcType=INTEGER},
      worker_id = #{workerId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      delete_time = #{deleteTime,jdbcType=TIMESTAMP},
      has_deleted = #{hasDeleted,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      content = #{content,jdbcType=LONGVARCHAR},
      ban_status = #{banStatus,jdbcType=INTEGER},
      picInfo = #{picInfo,jdbcType=VARCHAR},
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.xhb.volunteerplatform.entity.Activity" >
    update activity
    set province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      area = #{area,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      recruit_begin_time = #{recruitBeginTime,jdbcType=TIMESTAMP},
      recruit_end_time = #{recruitEndTime,jdbcType=TIMESTAMP},
      activity_begin_time = #{activityBeginTime,jdbcType=TIMESTAMP},
      activity_end_time = #{activityEndTime,jdbcType=TIMESTAMP},
      recruit_number = #{recruitNumber,jdbcType=INTEGER},
      working_hours = #{workingHours,jdbcType=REAL},
      detail_address = #{detailAddress,jdbcType=VARCHAR},
      recruit_range = #{recruitRange,jdbcType=INTEGER},
      worker_id = #{workerId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      delete_time = #{deleteTime,jdbcType=TIMESTAMP},
      has_deleted = #{hasDeleted,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      ban_status = #{banStatus,jdbcType=INTEGER},
      picInfo = #{picInfo,jdbcType=VARCHAR},
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>