<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.xhb.volunteerplatform.mapper.CommunityOrganizationMapper" >
  <resultMap id="BaseResultMap" type="cn.xhb.volunteerplatform.entity.CommunityOrganization" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="detail_address" property="detailAddress" jdbcType="VARCHAR" />
    <result column="worker_id" property="workerId" jdbcType="INTEGER" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="area" property="area" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="has_deleted" property="hasDeleted" jdbcType="INTEGER" />
    <result column="delete_time" property="deleteTime" jdbcType="TIMESTAMP" />
    <result column="has_approved" property="hasApproved" jdbcType="INTEGER" />
    <result column="fileInfo" property="fileinfo" jdbcType="VARCHAR" />
    <result column="undertaker" property="undertaker" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, create_time, detail_address, worker_id, province, city, area, update_time, 
    has_deleted, delete_time, has_approved, fileInfo, undertaker
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from community_organization
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectNotDeleted" resultMap="BaseResultMap"  >
    select
    <include refid="Base_Column_List" />
    from community_organization
    where has_deleted = 0 and has_approved = 1
  </select>
  <select id="selectNotApproved" resultMap="BaseResultMap"  >
    select
    <include refid="Base_Column_List" />
    from community_organization
    where has_approved = 0
  </select>
  <select id="selectNotDeletedBySearch" resultMap="BaseResultMap" parameterType="cn.xhb.volunteerplatform.dto.CommunitySearchQuery">
    select
    <include refid="Base_Column_List" />
    from community_organization
    where
    <if test="communitySearchQuery.province != null" >
      province = #{communitySearchQuery.province} and
    </if>

    <if test="communitySearchQuery.city != null" >
      city = #{communitySearchQuery.city} and
    </if>

    <if test="communitySearchQuery.area != null" >
      area = #{communitySearchQuery.area} and
    </if>
    <if test="communitySearchQuery.communityName != null" >
      name like "%"#{communitySearchQuery.communityName}"%" and
    </if>
    has_deleted = 0 and has_approved = 1
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from community_organization
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.xhb.volunteerplatform.entity.CommunityOrganization" >
    insert into community_organization (id, name, create_time, 
      detail_address, worker_id, province, 
      city, area, update_time, 
      has_deleted, delete_time, has_approved, 
      fileInfo, undertaker)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{detailAddress,jdbcType=VARCHAR}, #{workerId,jdbcType=INTEGER}, #{province,jdbcType=VARCHAR}, 
      #{city,jdbcType=VARCHAR}, #{area,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{hasDeleted,jdbcType=INTEGER}, #{deleteTime,jdbcType=TIMESTAMP}, #{hasApproved,jdbcType=INTEGER}, 
      #{fileinfo,jdbcType=VARCHAR}, #{undertaker,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.xhb.volunteerplatform.entity.CommunityOrganization" >
    insert into community_organization
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="detailAddress != null" >
        detail_address,
      </if>
      <if test="workerId != null" >
        worker_id,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="area != null" >
        area,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="hasDeleted != null" >
        has_deleted,
      </if>
      <if test="deleteTime != null" >
        delete_time,
      </if>
      <if test="hasApproved != null" >
        has_approved,
      </if>
      <if test="fileinfo != null" >
        fileInfo,
      </if>
      <if test="undertaker != null" >
        undertaker,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="detailAddress != null" >
        #{detailAddress,jdbcType=VARCHAR},
      </if>
      <if test="workerId != null" >
        #{workerId,jdbcType=INTEGER},
      </if>
      <if test="province != null" >
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="area != null" >
        #{area,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="hasDeleted != null" >
        #{hasDeleted,jdbcType=INTEGER},
      </if>
      <if test="deleteTime != null" >
        #{deleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="hasApproved != null" >
        #{hasApproved,jdbcType=INTEGER},
      </if>
      <if test="fileinfo != null" >
        #{fileinfo,jdbcType=VARCHAR},
      </if>
      <if test="undertaker != null" >
        #{undertaker,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.xhb.volunteerplatform.entity.CommunityOrganization" >
    update community_organization
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="detailAddress != null" >
        detail_address = #{detailAddress,jdbcType=VARCHAR},
      </if>
      <if test="workerId != null" >
        worker_id = #{workerId,jdbcType=INTEGER},
      </if>
      <if test="province != null" >
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="area != null" >
        area = #{area,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="hasDeleted != null" >
        has_deleted = #{hasDeleted,jdbcType=INTEGER},
      </if>
      <if test="deleteTime != null" >
        delete_time = #{deleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="hasApproved != null" >
        has_approved = #{hasApproved,jdbcType=INTEGER},
      </if>
      <if test="fileinfo != null" >
        fileInfo = #{fileinfo,jdbcType=VARCHAR},
      </if>
      <if test="undertaker != null" >
        undertaker = #{undertaker,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.xhb.volunteerplatform.entity.CommunityOrganization" >
    update community_organization
    set name = #{name,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      detail_address = #{detailAddress,jdbcType=VARCHAR},
      worker_id = #{workerId,jdbcType=INTEGER},
      province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      area = #{area,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      has_deleted = #{hasDeleted,jdbcType=INTEGER},
      delete_time = #{deleteTime,jdbcType=TIMESTAMP},
      has_approved = #{hasApproved,jdbcType=INTEGER},
      fileInfo = #{fileinfo,jdbcType=VARCHAR},
      undertaker = #{undertaker,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>